<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="zh-cn">
<head>
	<meta charset="UTF-8">
	<title>志龙的导航</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="layui/css/layui.css">
	<link rel="stylesheet" href="css/mian.css">
</head>
<body class="lay-blog">
<div class="header">
	<div class="header-wrap">
		<h1 class="blog-nav pull-left">
				<a style="font-size: 20px; color:#FFFFFF" href="index.html">个人导航</a>
		</h1>
<!--		<form class="layui-form blog-seach pull-left" action="">-->
<!--			<div class="layui-form-item blog-sewrap">-->
<!--				<div class="layui-input-block blog-sebox">-->
<!--					<i class="layui-icon layui-icon-search"></i>-->
<!--					<input type="text" name="title" lay-verify="title" autocomplete="off"  class="layui-input">-->
<!--				</div>-->
<!--			</div>-->
<!--		</form>-->
		<div class="blog-nav pull-right">
			<ul class="layui-nav pull-left">
				<li class="layui-nav-item layui-this"><a href="index.html">首页</a></li>
				<li class="layui-nav-item"><a href="message.html">留言</a></li>
				<li class="layui-nav-item"><a href="about.html">关于</a></li>
			</ul>
			<a href="#" class="personal pull-left">
				<i class="layui-icon layui-icon-username"></i>
			</a>
		</div>
		<div class="mobile-nav pull-right" id="mobile-nav">
			<a href="javascript:;">
				<i class="layui-icon layui-icon-more"></i>
			</a>
		</div>
	</div>
	<ul class="pop-nav" id="pop-nav">
		<li><a href="index.html">首页</a></li>
		<li><a href="message.html">留言</a></li>
		<li><a href="about.html">关于</a></li>
	</ul>
</div>
<!--<div class="container-wrap">-->
<!--	<div class="container">-->
<!--		<div class="contar-wrap">-->
<!--			<h4 class="item-title">-->
<!--				<p><i class="layui-icon layui-icon-speaker"></i>公告：<span>欢迎来到我的博客</span></p>-->
<!--			</h4>-->
<!--			<div class="item" th:each="article : ${thEach}">-->
<!--				<div class="item-box  layer-photos-demo1 layer-photos-demo" >-->
<!--					<h3><a href="details.html"><p th:text="${article.title}"></p> </a></h3>-->
<!--					<h5>发布于：<span><b th:text="${article.updateTime}"></b></span></h5>-->
<!--					<p th:text="${article.content}"></p>-->
<!--&lt;!&ndash;					<img th:src="@{{filePath}(filePath=${article.showPic})}" alt="">&ndash;&gt;-->
<!--					<span th:utext="${article.showPic}"></span>-->
<!--				</div>-->
<!--				<div class="comment count">-->
<!--					<a href="details.html#comment">评论</a>-->
<!--					<a href="javascript:;" class="like">点赞</a>-->
<!--				</div>-->
<!--			</div>-->
<!--		</div>-->
<!--		<div class="item-btn">-->
<!--			<button class="layui-btn layui-btn-normal">下一页</button>-->
<!--		</div>-->
<!--	</div>-->
<!--</div>-->
<div class="container-wrap">
	<div class="container" >
		<div class="layui-row" style="display: flex">

				<input id="searchText" type="text" name="title" required  lay-verify="required" placeholder="请输入搜索内容" autocomplete="off" class="layui-input">

				<button class="layui-btn" lay-submit lay-filter="formDemo" style="background-color: #393D49;" onclick="btn()">搜索</button>

		</div>
		<div class="main-radio">
			<input type="radio" value="0" id="radio" name="check" checked="">
			<span>百度</span>&nbsp;&nbsp;&nbsp;
			<input type="radio" value="1" id="radio" name="check">
			<span>谷歌</span>&nbsp;&nbsp;&nbsp;
			<input type="radio" value="2" id="radio" name="check">
			<span>stackoverflow</span>
			<input type="radio" value="3" id="radio" name="check">
			<span>极客</span>&nbsp;&nbsp;
			<input type="radio" value="4" id="radio" name="check">
			<span>github</span>&nbsp;&nbsp;
			<input type="radio" value="5" id="radio" name="check">
			<span>知乎</span>&nbsp;&nbsp;
			<input type="radio" value="6" id="radio" name="check">
			<span>CSDN</span>&nbsp;&nbsp;
		</div>
<!--		<ul class="main-radio layui-fluid" style="display: flex">-->
<!--			<li class="" style="padding-left: 15px;border-radius: 25px 0 25px 0;text-align: center;line-height: 25px;display: flex;align-items: center;cursor: pointer;border: 1px solid #e3e3e3;transition: all .2s;margin-right: -2px;"><img src="https://static.iiter.cn/baidu.ico" style="width:16px;height:16px" alt=""> <span>百度</span></li>-->
<!--			<li class="" style="padding-left: 15px;border-radius: 25px 0 25px 0;text-align: center;line-height: 25px;display: flex;align-items: center;cursor: pointer;border: 1px solid #e3e3e3;transition: all .2s;margin-right: -2px;"><img src="https://static.iiter.cn/github.ico" style="width:16px;height:16px" alt=""> <span>github</span></li>-->
<!--			<li class="active"  style="padding-left: 15px;border-radius: 25px 0 25px 0;text-align: center;line-height: 25px;display: flex;align-items: center;cursor: pointer;border: 1px solid #e3e3e3;transition: all .2s;margin-right: -2px;"><img src="https://static.iiter.cn/google.png" style="width:16px;height:16px" alt=""><span>google</span></li>-->
<!--			<li class=""  style="padding-left: 15px;border-radius: 25px 0 25px 0;text-align: center;line-height: 25px;display: flex;align-items: center;cursor: pointer;border: 1px solid #e3e3e3;transition: all .2s;margin-right: -2px;"><img src="https://static.iiter.cn/csdn.ico" style="width:16px;height:16px" alt=""> <span>csdn</span></li>-->
<!--			<li class=""  style="padding-left: 15px;border-radius: 25px 0 25px 0;text-align: center;line-height: 25px;display: flex;align-items: center;cursor: pointer;border: 1px solid #e3e3e3;transition: all .2s;margin-right: -2px;"><img src="https://static.iiter.cn/gold.png" style="width:16px;height:16px" alt=""> <span>掘金</span></li>-->
<!--		</ul>-->

	</div>
	<div class="container">
	<fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
		<legend>常用网站</legend>
	</fieldset>
	<div  class="layui-btn-container">
		<a class="layui-btn layui-btn-primary" style= "width:32%;background: #d2d2d2" href="http://www.openedv.com/" target="_blank">正点原子</a>
		<a class="layui-btn layui-btn-primary" style= "width:32%;background: #d2d2d2" href="https://juejin.im/" target="_blank">掘金</a>
		<a class="layui-btn layui-btn-primary" style= "width:32%;background: #d2d2d2" href="https://news.ycombinator.com/news" target="_blank">hacker news</a>
		<a class="layui-btn layui-btn-primary" style= "width:32%;background: #d2d2d2" href="http://www.v2ex.com/" target="_blank">V2EX</a>
		<a class="layui-btn layui-btn-primary" style= "width:32%;background: #d2d2d2" href="https://segmentfault.com/" target="_blank">思否</a>

	</div>
	</div>

	<div class="container">
		<fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
			<legend>常用工具</legend>
		</fieldset>
		<div  class="layui-btn-container">
			<a class="layui-btn layui-btn-primary" style= "width:32%;background: #d2d2d2" href="https://cli.im/" target="_blank">二维码生成</a>
			<a class="layui-btn layui-btn-primary" style= "width:32%;background: #d2d2d2" href="https://www.sojson.com/" target="_blank">json解析</a>
			<a class="layui-btn layui-btn-primary" style= "width:32%;background: #d2d2d2" href="https://www.remove.bg/zh" target="_blank">消除背景</a>
			<a class="layui-btn layui-btn-primary" style= "width:32%;background: #d2d2d2" href="https://tool.lu/coderunner/" target="_blank">在线代码编译</a>


		</div>
	</div>

	<div class="container">
		<fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
			<legend>常用AI大模型</legend>
		</fieldset>
		<div  class="layui-btn-container">
			<a class="layui-btn layui-btn-primary" style= "width:32%;background: #d2d2d2" href="https://doubao.com/" target="_blank">豆包</a>
			<a class="layui-btn layui-btn-primary" style= "width:32%;background: #d2d2d2" href="https://chatglm.cn/" target="_blank">智谱AI</a>
			<a class="layui-btn layui-btn-primary" style= "width:32%;background: #d2d2d2" href="https://yiyan.baidu.com/" target="_blank">文心一言</a>
			<a class="layui-btn layui-btn-primary" style= "width:32%;background: #d2d2d2" href="https://chatgpt.com/" target="_blank">ChatGPT</a>


		</div>
	</div>

	<div class="container">
		<fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
			<legend>技术社区</legend>
		</fieldset>
		<div  class="layui-btn-container">
			<a class="layui-btn layui-btn-primary" style= "width:32%;background: #d2d2d2" href="https://segmentfault.com/" target="_blank">思否</a>
			<a class="layui-btn layui-btn-primary" style= "width:32%;background: #d2d2d2" href="http://www.openedv.com/" target="_blank">正点原子</a>
			<a class="layui-btn layui-btn-primary" style= "width:32%;background: #d2d2d2" href="https://www.firebbs.cn/forum.php" target="_blank">野火电子</a>
			<a class="layui-btn layui-btn-primary" style= "width:32%;background: #d2d2d2" href="https://www.oschina.net/" target="_blank">开源中国</a>
			<a class="layui-btn layui-btn-primary" style= "width:32%;background: #d2d2d2" href="https://www.csdn.net/" target="_blank">CSDN</a>
			<a class="layui-btn layui-btn-primary" style= "width:32%;background: #d2d2d2" href="https://www.cnblogs.com/" target="_blank">博客园</a>
			<a class="layui-btn layui-btn-primary" style= "width:32%;background: #d2d2d2" href="https://juejin.im/" target="_blank">掘金</a>
			<a class="layui-btn layui-btn-primary" style= "width:32%;background: #d2d2d2" href="http://gank.io/" target="_blank">干货集中营</a>
			<a class="layui-btn layui-btn-primary" style= "width:32%;background: #d2d2d2" href="http://www.v2ex.com/" target="_blank">V2EX</a>
			<a class="layui-btn layui-btn-primary"  style= "width:32%;background: #d2d2d2" href="https://www.shiyanlou.com/" target="_blank">实验楼</a>
			<a class="layui-btn layui-btn-primary"  style= "width:32%;background: #d2d2d2" href="https://bbs.pediy.com/" target="_blank">看雪</a>
			<a class="layui-btn layui-btn-primary"  style= "width:32%;background: #d2d2d2" href="https://www.52pojie.cn/" target="_blank">吾爱破解</a>
			<a class="layui-btn layui-btn-primary"  style= "width:32%;background: #d2d2d2" href="https://www.shiyanlou.com/" target="_blank">实验楼</a>
		</div>
	</div>
	<div class="container">
		<fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
			<legend>在线文档</legend>
		</fieldset>
		<div  class="layui-btn-container">
			<a class="layui-btn layui-btn-primary" style= "width:32%;background: #d2d2d2" href="https://git-scm.com/book/zh/v2" target="_blank">git</a>
			<a class="layui-btn layui-btn-primary" style= "width:32%;background: #d2d2d2" href="https://www.w3school.com.cn/index.html" target="_blank">HTML/CSS</a>
			<a class="layui-btn layui-btn-primary" style= "width:32%;background: #d2d2d2" href="https://docs.microsoft.com/zh-cn/powershell/" target="_blank">powershell</a>
			<a class="layui-btn layui-btn-primary" style= "width:32%;background: #d2d2d2" href="https://www.alldatasheet.com/" target="_blank">芯片资料下载1</a>
			<a class="layui-btn layui-btn-primary" style= "width:32%;background: #d2d2d2" href="http://www.semiee.com/index" target="_blank">芯片资料下载2</a>
			<a class="layui-btn layui-btn-primary" style= "width:32%;background: #d2d2d2" href="https://www.21icsearch.com/" target="_blank">芯片资料下载3</a>
			<a class="layui-btn layui-btn-primary" style= "width:32%;background: #d2d2d2" href="http://www.4qdtec.com/index.html" target="_blank">经典电路</a>
		</div>
	</div>
	<div class="container">
		<fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
			<legend>网课平台</legend>
		</fieldset>
		<div class="layui-btn-container">
			<a class="layui-btn layui-btn-primary"  style= "width:32%;background: #d2d2d2" href="http://www.imooc.com/course/list?c=android" target="_blank">慕课网</a>
			<a class="layui-btn layui-btn-primary"  style= "width:32%;background: #d2d2d2" href="http://www.jikexueyuan.com/course/android/" target="_blank">极客学院</a>
			<a class="layui-btn layui-btn-primary"  style= "width:32%;background: #d2d2d2" href="https://study.163.com/" target="_blank">网易云课堂</a>
			<a class="layui-btn layui-btn-primary"  style= "width:32%;background: #d2d2d2" href="https://ke.qq.com/course/list?mt=1001&amp;st=2003&amp;tt=3021" target="_blank">腾讯课堂</a>
			<a class="layui-btn layui-btn-primary"  style= "width:32%;background: #d2d2d2" href="http://waitedu.51cto.com/" target="_blank">51CTO</a>
		</div>
	</div>
</div>
<div class="footer">
	<p>
		<span>&copy; 2019</span>
		<span><a href="http://www.mrcao.tech" target="_blank">mrcao.tech</a></span>
		<span>MIT license</span>
	</p>
	<p><span>人生就是一场修行, 修着修着就变坏了</span></p>
</div>
<script src="layui/layui.js"></script>
<script>
	layui.config({
		base: 'js/'
	}).use('blog');



	function chooseSerarch() {
		var radios = document.getElementsByName("check");
		for (radio in radios) {
			if (radios[radio].checked) {
				val = radios[radio].value;
				return val
				break;
			}
		}

	}

	function search(url) {
		window.open(url)

	}

	function btn() {
		var v = document.getElementById("searchText").value;
		if (v != '') {
			var url = chooseSerarch()

			if (url == '') {
				search("https://www.baidu.com/s?wd=" + v)
			} else {
				if (url == 0) {
					search("https://www.baidu.com/s?wd=" + v)
				} else if (url == 1) {
					search("https://www.google.com.hk/search?q=" + v)
				} else if (url == 2) {
					search('https://stackoverflow.com/search?q=' + v)
				} else if (url == 3) {
					search('https://s.geekbang.org/search/c=0/k=' + v + '/t=')
				} else if (url == 4) {
					search('https://github.com/search?q=' + v)
				} else if (url == 5) {
					search('https://www.zhihu.com/search?q=' + v + '&type=content')
				} else if (url == 6) {
					search('https://so.csdn.net/so/search/s.do?q=' + v)
				}
			}

		}



	}

	document.addEventListener("keydown",keydown);
	function keydown(event){
		if(event.keyCode === 13){
			var v = document.getElementById("searchText").value;
			if (v !== '') {
				var url = chooseSerarch();

				if (url == '') {
					search("https://www.baidu.com/s?wd=" + v)
				} else {
					if (url == 0) {
						search("https://www.baidu.com/s?wd=" + v)
					} else if (url ==1) {
						search("https://www.google.com.hk/search?q=" + v)
					} else if (url == 2) {
						search('https://stackoverflow.com/search?q=' + v)
					} else if (url == 3) {
						search('https://s.geekbang.org/search/c=0/k=' + v + '/t=')
					} else if (url == 4) {
						search('https://github.com/search?q=' + v)
					} else if (url == 5) {
						search('https://www.zhihu.com/search?q=' + v + '&type=content')
					} else if (url == 6) {
						search('https://so.csdn.net/so/search/s.do?q=' + v)
					}
				}
			}
		}
	}

</script>
</body>
</html>